body {
  background-color: rgb(23, 25, 35);
}

.tracker-stats {

  color: white;
  background-color: rgba(41, 52, 87, 0);
  // border-top: solid 1px darken($blue-grey-900, 5);
  border-radius: 25px;
  width: 90%;
  margin: 0 auto;

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
  }

}

.tracker-stat {
  border-radius: 25px;
  font-size: 2em;
  text-align: center;
  padding: .5em;
  // border-right: solid 1px darken($blue-grey-900, 5);
  border: solid 1px darken($blue-grey-900, 5);
  background-color: rgb(41, 52, 87);
  margin: 10px;
  transition: 0.7s;
  // max-width: 400px;
  strong {
    font-weight: normal;
    color: $blue-grey-300;
  }

}
.tracker-stat:hover {
  background-color: rgb(60, 76, 131);
}

.tracker-stat-primary {

  margin: 0;

  strong {
    display: block;
    font-size: .5em;
  }

}

.tracker-stat-secondary {

  font-size: .5em;
  margin: .8em 0 0;

  strong {
    font-size: .8em;
    margin-left: .4em;
  }

}

.tracker-last-updated {

  color: white;
  background-color: transparent;
  max-width: 300px;
  margin: 0px auto;
  padding: .8em 0;

  p {
    color: $blue-grey-300;
    font-size: .8em;
    text-align: center;
    margin: 0;
  }

}